@font-face{
    font-family: 'Pixel';
    src: url(./fonts/Super\ Pixel\ Personal\ Use.ttf);
}

$pink: #F01B98;
$blue: #0CA8CD;
$font-stack: Arial, Helvetica, sans-serif;;
$font-pixel:'Pixel';
#main{
    background-color: $pink;
    font-family: $font-stack;
    display: flex;
}

#rosy{
    background-color: $pink;
}
h1{
    font-size: larger;
}
.text{
    margin-top: 15%;
    margin-left: 10%;
}

button{
    background-color: black;
    color: white;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}

.text img{
    height: auto;
    width: 100%;
}

h1{
    font-family: $font-pixel;
    font-size: 30px;
  }
  

  .footer{
    background-color: #000000;
    color:white;
    height: fit-content;
    position: bottom;
    padding: 0% auto;
    margin:0% auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
  }

  .footerButton{
    background-color: #badfe8;
    color:#000000;
    font-family: 'Roboto';
    font-weight: bolder;
  }

  .footerTitle{
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 20px;
  }

  .footerText{
    font-family: 'Roboto';
    font-size: 10px;
    padding: 0%;
  }


  /* GAMES PAGE */
  .bodyGame{
    background-color: #0CA8CD;
    color: #000000;
    align-items: center;
    text-align: center;
    padding: 0%;
    margin:0;
  }
  
  .gamePage{
    background-color: #000000;
    color:#badfe8;
    margin-bottom: 5%;
    font-weight: bolder;
  
  }
  
  .slider-container{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type:  x mandatory;
  }
  
  .slider-item{
    flex: 0 0 260px;
    background-color:hsla(192, 50%, 82%, 0.436);
    border: solid 10px rgb(3, 65, 77);
    border-radius: 5%;
    scroll-snap-align: center;
    padding:2%;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
  }
  
  .imageGame{
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  
  .gameTitle{
    border-radius: 5%;
    width: fit-content;
    height: 30px;
    padding:2%;
    margin:0 auto;
    font-family: 'Roboto';
    font-weight:  bolder;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  