/*-------------------------------COMUN-----------------------*/
@font-face{
    font-family: 'Pixel';
    src: url(./fonts/Super\ Pixel\ Personal\ Use.ttf);
}

$pink: #F01B98;
$white:white;
$black:black;
$gameBackgroundDay: #0CA8CD;
$gameText:#badfe8;
$gameBorder: rgb(3, 65, 77);
$gameBackgroundArticle:hsla(192, 50%, 82%, 0.436);
$font-stack: Arial, Helvetica, sans-serif;;
$font-pixel:'Pixel';


#main{
    background-color: $pink;
    font-family: $font-stack;
    display: flex;
}

#rosy{
    background-color: $pink;
}
h1{
    font-size: larger;
}
.text{
    margin-top: 15%;
    margin-left: 10%;
}

button{
    background-color: $black;
    color: $white;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}

.text img{
    height: auto;
    width: 100%;
}

h1{
    font-family: $font-pixel;
    font-size: 30px;
  }

/*navbar*/

.navbar-left{
  display:flex;
  align-items: center;
  gap:10px;
}

.logoWEB{
  font-size: 24px;
  color:$white;
}

.logoWEB.night-mode{
  color:$black;
}

.navLink.night-mode {
  color:$black;
}

.logo{
  height: 60px;
  gap:20px;
}

.navLink{
  color:$white;
  margin-left:20px;
  margin-top:10px;
}


.navbar-center {
  display: flex;
}



/*footer*/
.footerButton{
  background-color: $gameText;
  color:$black;
  font-family: 'Roboto';
  font-weight: bolder;
}

.footerTitle{
  font-family: 'Roboto';
  font-weight: bolder;
  font-size: 20px;
}

.footerText{
  font-family: 'Roboto';
  font-size: 10px;
  padding: 0%;
}


/*----------------------------------GAME PAGE------------------------------*/
/*navbar*/
.navbar-game{
  font-family: $font-pixel;
  background-color: $black;
  color:$white;
  height: 100px;
  display:flex;
  align-items: center;
  padding:0 2%;
}

.navbar-game.night-mode{
  background-color: $gameBackgroundDay;
}

/*BOTON CHECK https://programadorwebvalencia.com/sencillo-boton-on-off-html-y-css/*/
:root {
  --color-blue: #0CA8CD;
  --color-button: #fdffff;
  --color-black: #000000;
}
.switch-button-game {
  position: absolute;
  right: 20px;
}

.switch-button-game .switch-button-game__checkbox {
  display: none;
}

.switch-button-game .switch-button-game__label {
  background-color: var(--color-blue);
  width: 3rem;
  height: 1rem;
  border-radius: 1rem;
  display: inline-block;
  position: relative;
}
.switch-button-game .switch-button-game__label:before {
  transition: .2s;
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-button);
  content: '';
  border-radius: 50%;
}
.switch-button-game  .switch-button-game__checkbox:checked + .switch-button-game__label {
  background-color: var(--color-black);
}
.switch-button-game  .switch-button-game__checkbox:checked + .switch-button-game__label:before {
  transform: translateX(2rem);
}


/*Body*/
.bodyGame {
  background-color: $gameBackgroundDay;
  color: $black;
  transition: background-color 0.3s ease, color 0.3s ease;
  align-items: center;
  text-align: center;
  padding: 0%;
  margin: 0;
}

.bodyGame.night-mode {
  background-color: $black;
  color:$gameBackgroundDay;
}

.gamePage {
  background-color: $black;
  color: $gameText;
  margin-bottom: 5%;
  font-weight: bolder;
}

.gamePage.night-mode {
  background-color: $gameText;
  color: $black;
  margin-bottom: 5%;
  font-weight: bolder;
}

.slider-container-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
}

.slider-arrow {
  position: absolute;
  background-color:$gameBorder;
  color: $white;
  border: none;
  padding: 10px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 50%;
  font-size: 30px;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.slider-container {
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  overflow: hidden;
}

.slider-item {
  flex: 0 0 260px;
  background-color: $gameBackgroundArticle;
  border: solid 10px $gameBorder;
  border-radius: 5%;
  scroll-snap-align: center;
  overflow: hidden;
  padding: 2%;
  margin-left: 3%;
  margin-right: 3%;
  align-items: center;
  text-align: center;
}

.imageGame {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.gameTitle {
  border-radius: 5%;
  width: fit-content;
  height: 30px;
  padding: 2%;
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*footer*/
.footer-game{
  background-color: $black;
  color:$white;
  height: fit-content;
  position: bottom;
  padding: 0% auto;
  margin:0% auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
}

.footer-game.night-mode{
  background-color: $gameBackgroundDay;
  color:$black;
  font-weight: bold;
}



/*---------------------------------PCS PAGE--------------------------------*/
.navbar-pcs{
  font-family: $font-pixel;
  background-color: $black;
  color:$white;
  height: 100px;
  display:flex;
  align-items: center;
  padding:0 2%;
}
.navbar-pcs.night-mode{
  background-color: $pink;
}

/*BOTON CHECK https://programadorwebvalencia.com/sencillo-boton-on-off-html-y-css/*/
:root {
  --color-pink: #F01B98;
  --color-button: #fdffff;
  --color-black: #000000;
}
.switch-button-pcs {
  position: absolute;
  right: 20px;
}

.switch-button-pcs .switch-button-pcs__checkbox {
  display: none;
}

.switch-button-pcs .switch-button-pcs__label {
  background-color: var(--color-pink);
  width: 3rem;
  height: 1rem;
  border-radius: 1rem;
  display: inline-block;
  position: relative;
}
.switch-button-pcs .switch-button-pcs__label:before {
  transition: .2s;
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-button);
  content: '';
  border-radius: 50%;
}
.switch-button-pcs  .switch-button-pcs__checkbox:checked + .switch-button-pcs__label {
  background-color: var(--color-black);
}
.switch-button-pcs  .switch-button-pcs__checkbox:checked + .switch-button-pcs__label:before {
  transform: translateX(2rem);
}



.bodyPCS {
  background-color: $pink;
  color: $black;
  align-items: center;
  text-align: center;
  padding: 0%;
  margin: 0;
}

.bodyPCS.night-mode {
  background-color: $black;
  color:$white;
}

.pcsPage.night-mode {
  background-color: $pink;
  color: $black;
  margin-bottom: 5%;
  font-weight: bolder;
}

/*footer*/
.footer-pcs{
  background-color: $black;
  color:$white;
  height: fit-content;
  position: bottom;
  padding: 0% auto;
  margin:0% auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
}

.footer-pcs.night-mode{
  background-color: $pink;
  color:$black;
  font-weight: bold;
}


